/*------------------ */
/* $Catalog */
/*------------------ */
/* $Catalog */
/* $Font */
/* $Global */
/* $List Box */
/* $Header */
/* $Navbar */
/* $List Item */
/* $Delete Bar */
/*------------------ */
/*------------------ */
/* $Font */
/*------------------ */
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
/*------------------ */
/* $Global */
/*------------------ */
* {
  box-sizing: border-box;
  position: relative;
}

html {
  background-color: #ebebeb;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}

a {
  text-decoration: none;
  color: #000;
  outline: 0;
}

/*------------------ */
/* $List Box */
/*------------------ */
.box {
  max-width: 400px;
  margin: 36px auto;
  background-color: #3bb17c;
  border-radius: 12px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
@media (max-width: 576px) {
  .box {
    margin: 18px auto;
  }
}
.box input[type="checkbox"] {
  display: none;
}

/*------------------ */
/* $Header */
/*------------------ */
header {
  text-align: center;
}
header h3 {
  font-size: 28px;
  margin: 24px 0px;
}
header .status {
  margin-bottom: 16px;
}
header input[type="text"] {
  font-family: inherit;
  border: none;
  outline: none;
  border-radius: 16px;
  padding: 8px 12px;
  margin-bottom: 16px;
  width: 80%;
}

/*------------------ */
/* Navbar */
/*------------------ */
.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 8px;
}
.navbar .nav-item {
  width: 100%;
  padding: 8px 0px;
  border-right: 1px solid;
}
@media (max-width: 576px) {
  .navbar .nav-item {
    padding: 4px;
  }
}
.navbar .nav-item:last-child {
  border-right: none;
}
.navbar .nav-item.selected {
  font-weight: bold;
  text-decoration: underline;
}

/*------------------ */
/* $List Item */
/*------------------ */
.list {
  background-color: #b5e1cd;
}

.allcheck {
  font-weight: 700;
  color: red;
}
.allcheck .checkbox {
  color: inherit;
}

.plan {
  padding: 16px 0;
  padding-left: 16px;
  display: flex;
  align-items: center;
}
.plan .checkbox {
  margin-right: 8px;
}
.plan .checkbox i {
  display: block;
  font-size: 22px;
  text-decoration: none;
}
.plan .fn-gp {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}
.plan .fn-gp .icon {
  display: inline-block;
  font-size: 18px;
  visibility: visible;
  opacity: 1;
  transition: all 0.1s;
}
.plan .fn-gp .icon:active {
  transform: translate(1px, 1px);
}
.plan .fn-gp .icon.top {
  color: orange;
}
.plan .fn-gp .icon.del {
  color: red;
}
.plan.finished .planText {
  text-decoration: line-through;
}
.plan.finished .fn-gp .icon:first-child {
  visibility: hidden;
  opacity: 0;
}
.plan.empty {
  font-style: italic;
}
.plan .newItem {
  opacity: 0;
  color: red;
  animation: newShow 1s 0.2s forwards;
}

@keyframes newShow {
  0% {
    opacity: 0.5;
    bottom: -5px;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    bottom: 5px;
  }
}
@media (max-width: 576px) {
  .detail {
    padding: 10px 0;
    padding-left: 16px;
    padding-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .detail .fn-gp {
    top: auto;
    bottom: 0;
  }
}

/*------------------ */
/* $Delete Bar */
/*------------------ */
.btn-gp {
  display: block;
  padding: 12px 4px;
}
@media (max-width: 576px) {
  .btn-gp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
  }
}
.btn-gp .del-gp {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}
@media (max-width: 576px) {
  .btn-gp .del-gp {
    margin-bottom: 0px;
  }
}
.btn-gp .reset-gp {
  display: flex;
  justify-content: flex-end;
}
.btn-gp .btn {
  text-align: center;
  border-radius: 8px;
  margin: 0 8px;
  padding: 4px 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.1s;
  background-color: #b5e1cd;
}
.btn-gp .btn:active {
  transform: translate(2px, 2px);
}
.btn-gp .btn.reset {
  font-weight: bold;
  color: red;
  background-color: #f9bcbc;
}

/*# sourceMappingURL=style.css.map */
